<h1><%= @user.username %></h1>

<%= @user.username %>'s ingredients:
<ul>
  <% @user.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<a href="/index">Home</a>