<h1>Edit Your Ingredients</h1>

<form action="/ingredients" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <table>
    <tr>
      <th align="left">Edit</th>
      <th align>Delete</th>
    </tr>
    <ol>
      <% @user.ingredients.each do |ingredient| %>
      <tr>
        <td>
          <input type="text" value="<%= ingredient.name %>" id="<%= ingredient.id %>-field" name="ingredients[][name]">
        </td>
        <td>
          <input type="checkbox" id="<%= ingredient.id %>-box" name="ingredients[][delete]">
          <input type="hidden" value="<%= ingredient.id %>" name="ingredients[][id]">
        </td>
      </tr>
      <% end %>
  </table>

  <input type="submit" id="submit" value="Save">

<div id="c">
  Try this:
  <pre># in application_controller.rb
class ApplicationController
get &#x27;&#x2F;&#x27;&#x2F;ingredients&#x2F;edit&#x27;&#x27; do
&quot;Hello World&quot;
end
</pre>
</div>

</form>