<h1>Add Ingredients</h1>

<form action="/ingredients" method="POST">
<h2>Add up to ten ingredients</h2>
<ol>
<% 10.times do %>
  <li><input type="text" name="ingredients[][name]"></li>
<% end %>
</ol>
<input type="submit" id="submit" value="Save">
</form>