<h1>Lend Me Some Sugar!</h1>
<h2><i>I am your neighbor!</i></h2>

<h2>Users</h2>
<ol>
  <% @users.each do |user| %>
  <li>
    <a href="/users/<%= user.slug %>"><%= user.username %></a>
  </li>
  <% end %>
</ol>