<h1>Sign Up</h1>
<form action="/users" method="POST">
<p><label for="user[username]">User name:</label>
  <input type="text" name="user[username]" id="username" >
</p>
<p><label for="user[password]">Password:</label>
  <input type="text" name="user[password]" id="password" >
</p>
<p><label for="user[email]">Email:</label>
  <input type="text" name="user[email]" id="email" >
</p>
<p><input type="submit" value="Sign Up"></p>
</form>