<h1>Welcome!</h1>

<p>Log in:</p>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <label for="password">Password</label>
  <input type="text" name="password" id="password">
  <input type="submit" value="Log In">
</form>
<p>or <a href="/signup">sign up.</a></p>